# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ master ]
    tags:
      - "v*"



jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PROJECT: "rest"

    steps:
      - uses: actions/checkout@v4

      - uses: actions/setup-node@v3
        with:
          node-version: '22'
          registry-url: 'https://registry.npmjs.org'
      - run: npm install
      - run: npm run test-ci:lib
      - run: npm run build-ci:lib
      - run: cp README.md dist/$PROJECT/README.md
      - run: cd dist/$PROJECT/ && npm publish
        if: startsWith(github.ref, 'refs/tags/v')



