# This is a basic workflow to help you get started with Actions

name: CI

on:
  push:
    branches: [ master ]
    tags:
      - "v*"

jobs:
  build:
    runs-on: ubuntu-latest
    env:
      PROJECT: "rest"

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-node@v6
        with:
          node-version: '24'
          registry-url: 'https://registry.npmjs.org'
      - run: npm install
      - run: npm install -g npm@latest # Update to latest npm to ensure OIDC support for trusted publishing
      - run: npm run test-ci:lib
      - run: npm run build-ci:lib
      - run: cp README.md dist/$PROJECT/README.md
      - run: cd dist/$PROJECT/ && unset NODE_AUTH_TOKEN && npm publish --access public --verbose
        if: startsWith(github.ref, 'refs/tags/v')



